@model IEnumerable<BackEndCapstone.Models.Tour>

@{
    ViewData["Title"] = "Tours";
}

<style>
    .tours {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .tourList {
        padding: 0;
        margin-bottom: 1px;
        margin-left: 25px;
    }

    .singleTour {
        margin-right: 50px;
        border: 1px solid black;
    }

    .tourItemName {
        text-decoration: underline;
    }

    img {
        max-width: 200px;
    }
</style>

<h1>Your Tours</h1>

<div class="tours">
    @foreach (var item in Model)
    {
    <div class="singleTour">
        <img src="..\..\images\van.jpg" />
        <h2 class="tourItemName">@item.Name</h2>
        <ol class="tourList">
            @foreach (var destination in item.Destinations)
            {
                <li style="font-size: 1.25em !important" class="tourListItem">
                    <h4>@destination.Name</h4>
                    <div style="font-size: 0.80em !important">
                        <div>@destination.City, @destination.State</div>
                    </div>
                </li>
            }
        </ol>
        @Html.ActionLink("Edit", "EditMap", new { id = item.TourId })
        <button class="@item.TourId" id="deleteTour">Delete tour</button>
    </div>
    }
</div>

<script>
    async function deleteDestination(id) {
        const dataObj = await fetch(`/Destination/Delete?id=${id}`, {
            method: "Post",
        }).then(res => res.json())
    }

    async function deleteTour(id) {
        const dataObj = await fetch(`/Tour/Delete?id=${id}`, {
            method: "Post",
        }).then(res => res.json())
    }

    var deleteButtons = document.querySelectorAll("#deleteTour")
    deleteButtons.forEach(db => {
        db.addEventListener("click", async event => {
            var tourId = parseInt(event.target.classList[0])
            await deleteDestination(tourId)
            await deleteTour(tourId)
            location.reload();
        })
    })

</script>