@model IEnumerable<BackEndCapstone.Models.Tour>

@{
    ViewData["Title"] = "Tours";
}

<style>
    .tours {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .tourList {
        padding: 0;
        margin-bottom: 1px;
        margin-left: 25px;
    }

    .singleTour {
        margin-right: 50px;
        border: 1px solid black;
    }

    .tourItemName {
        text-decoration: underline;
    }

    img {
        max-width: 200px;
    }

    .singleTour {
        display: flex;
        flex-direction: column;
    }

    .tourListItem {
        margin-bottom: 30px;
    }

    .destinationHeader {
        display: flex;
        flex-direction: row;
    }

    .deleteDestination {
        margin-left: 10px;
    }

    .btn-group-xs > .btn, .btn-xs {
        padding: .25rem .4rem;
        font-size: .875rem;
        line-height: .5;
        border-radius: .2rem;
    }
</style>

<h1>Your Tours</h1>

<div class="tours">
    @if (Model.Count() == 0)
    {
        <div>
            <p>You have no tours!</p>
        </div>
    }
    @foreach (var item in Model)
    {
    <div class="singleTour">
        <img src="..\..\images\van.jpg" />
        <h2 class="tourItemName">@item.Name</h2>
        <ol class="tourList">
            @foreach (var destination in item.Destinations)
            {
                <li style="font-size: 1.25em !important " class="tourListItem">
                    <div class="destinationHeader">
                        <h4>@destination.Name</h4>
                        <button id="@destination.DestinationId" class="deleteDestination btn btn-xs btn-light" type="button">Delete</button>
                    </div>
                    <div id="destinationInfo" style="font-size: 0.80em !important">
                        <div>@destination.City, @destination.State</div>
                    </div>
                </li>
            }
        </ol>
        @Html.ActionLink("Edit", "EditMap", new { id = item.TourId })
        <button class="@item.TourId" id="deleteTour">Delete tour</button>
    </div>
    }
</div>

<script src="~/js/Tours.js"></script>